{% extends 'layout.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h1>Première connexion? Définissez votre mot de passe.</h1>
			<form action="" method="post">
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input class="form-control" type="email" id="email" name="email">
					{% if errors %}
						<div class="errors">
							{{errors.empty_email}}<br>
							{{errors.email_length}}<br>
							{{errors.email}}
						</div>
					{% endif %}
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Définissez un mot de passe</label>
					<input class="form-control" type="password" id="password" name="password">
					{% if errors %}
						<div class="errors">
							{{errors.empty_password}}<br>
							{{errors.password_length}}
						</div>
					{% endif %}
				</div>
				<div class="mb-3">
					<label for="password2" class="form-label">Retapez le mot de passe</label>
					<input class="form-control" type="password" id="password" name="password2">
					{% if errors %}
						<div class="errors">
							{{errors.password_length}}<br>
							{{errors.do_not_match}}
						</div>
					{% endif %}
				</div>

				<div class="mb-3">
					<button type="submit" class="button">Créer mon mot de passe</button>
					<button class="button ">
						<a href="/login/professional">Connexion</a>
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
