<form method="post">
	<p>
		<input type="hidden" value="{{ partner.id }}" name="id">
	</p>

	<p>
		<label for="lastname">Nom</label>
		<input type="text" value="{{ partner.lastname }}" name="lastname" id="lastname">
	</p>
	<p>

		<label for="firstaname">Prénom</label>
		<input type="text" value="{{ partner.firstanme }}" name="firstname" id="firstname">
	</p>

	<p>
		<label for="address">Adresse</label>
		<input type="text" value="{{ partner.adress }}" name="address" id="address">
	</p>
	<p>
		<label for="email">Email</label>
		<input type="email" value="{{ partner.email }}" name="email" id="email">
	</p>
	<p>
		<label for="phone">Téléphone</label>
		<input type="tel" value="{{ partner.phone }}" name="phone" id="phone">
	</p>

	<p>
		<label for="decription">Description</label>
		<textarea name="description" value="{{ partner.description }}" id="descritpion" rows=" 10" cols=" 50"></textarea>
	</p>

	<button>Submit</button>
</p></form>
