<form method="post">
	<div>
		<input type="hidden" value="{{ partner.id }}" name="id">
	</div>

	<div>
		<label for="lastname">Nom :</label><br>
		<input type="text" class="form-control form-control-color" value="{{ partner.lastname }}" name="lastname" id="lastname">
	</div>
	<div>

		<label for="firstaname">Prénom :</label><br>
		<input type="text" class="form-control form-control-color" value="{{ partner.firstname }}" name="firstname" id="firstname">
	</div>

	<div>
		<label for="address">Adresse :</label><br>
		<input type="text" class="form-control form-control-color" value="{{ partner.address }}" name="address" id="address">
	</div>
	<div>
		<label for="email">Email :</label><br>
		<input type="email" class="form-control form-control-color" value="{{ partner.email }}" name="email" id="email">
	</div>
	<div>
		<label for="phone">Téléphone :</label><br>
		<input type="tel" class="form-control form-control-color" value="{{ partner.phone }}" name="phone" id="phone">
	</div>

	<div>
		<label for="description">Description :</label><br>
		<textarea name="description" class="form-control form-control-color" value="{{ partner.description }}" id="description" rows=" 10" cols=" 50"></textarea>
	</div>

	<button>Envoyer</button>
</form>
