<div class="container d-flex">
	<form method="post" class="row gy-3 justify-content-center my-5">

		<input type="hidden" value="{{ partner.id }}" name="id">

		<div class="col-md-5 col-sm-5 col-xs-8 col-10">
			<label for="lastname">Nom :</label><br>
			<input type="text" class="form-control" value="{{ partner.lastname }}" name="lastname" id="lastname">
			{% if errors %}
				<div class="errors">{{errors.empty_lastname}}<br>
					{{errors.last_length}}
				</div>
			{% endif %}
		</div>

		<div class="col-md-5 col-sm-5 col-xs-8 col-10">

			<label for="firstname">Prénom :</label><br>
			<input type="text" class="form-control" value="{{ partner.firstname }}" name="firstname" id="firstname">
			{% if errors %}
				<div class="errors">{{errors.empty_firstname}}<br>
					{{errors.first_length}}
				</div>
			{% endif %}
		</div>

		<div class="col-md-5 col-sm-5 col-xs-8 col-10">
			<label for="email">Email :</label><br>
			<input type="email" class="form-control" value="{{ partner.email }}" name="email" id="email">
			{% if errors %}
				<div class="errors">{{errors.empty_address}}<br>
					{{errors.address_length}}
				</div>
			{% endif %}
		</div>

		<div class="col-md-5 col-sm-5 col-xs-8 col-10">
			<label for="phone">Téléphone :</label><br>
			<input type="tel" class="form-control" value="{{ partner.phone }}" name="phone" id="phone">
			{% if errors %}
				<div class="errors">{{errors.email}}<br>{{errors.empty_email}}<br>{{errors.email_length}}
				</div>
			{% endif %}
		</div>

		<div class="col-xs-8 col-10">
			<label for="address">Adresse :</label><br>
			<input type="text" class="form-control" value="{{ partner.address }}" name="address" id="address">
			{% if errors %}
				<div class="errors">{{errors.phone}}<br>{{errors.empty_phone}}
				</div>
			{% endif %}
		</div>

		<div class="col-xs-8 col-10">
			<label for="description">Description :</label><br>
			<textarea name="description" class="form-control" value="{{ partner.description }}" id="description" rows=" 10" cols=" 50"></textarea>
			{% if errors %}
				<div class="errors">
					{{errors.description_length}}
				</div>
			{% endif %}
		</div>
		<div class="button d-flex justify-content-center align-self-center" id="addbutton">
			<button>Envoyer</button>
		</div>
	</form>
</div>
