{% extends "Shared/admin.html.twig" %}
{% block content %}
	<main>

		<h3 class="text-center m-5">
			Fiche partenaire
			{{ partner.firstname }}
			{{ partner.lastname }}</h3>
		<div class="container d-flex flex-row justify-content-evenly bg-white">
			<ul>
				<li>
					<div>Identifiant:
						{{ partner.id }}</div>
				</li>
				<li>
					<div>Nom:
						{{ partner.lastname }}</div>
				</li>
				<li>
					<div>Prénom:
						{{ partner.firstname }}</div>
				</li>
				<li>
					<div>Adresse:
						{{ partner.address }}</div>
				</li>
				<li>
					<div>Mail:
						{{ partner.email }}</div>
				</li>
				<li>
					<div>Téléphone:
						{{ partner.phone }}</div>
				</li>
				<li>
					<div>Description:
						{{ partner.description }}</div>
				</li>
			</ul>
			<div class"container d-inline-flex flex-row">
				<button class="m-3">
					<a href="/partners/edit?id={{ partner.id }}">Modifier</a>
				</button>
				<form action="/partners/delete" method="POST">
					<input type="hidden" name="id" value="{{ partner.id }}">
					<button class="m-3">Supprimer</button>
				</form>
			</div>
		</div>
		<button class="m-3">
			<a href="/partners">Retour</a>
		</button>
	</main>
{% endblock %}
