{% extends "Shared/admin.html.twig" %}
{% block content %}

	<h3 class="text-center m-5">
		Fiche partenaire
		{{ partner.firstname }}
		{{ partner.lastname }}</h3>
	<div class="container d-flex flex-row justify-content-evenly bg-white">
		<ul>
			<li>
				Identifiant:
				{{ partner.id }}
			</li>
			<li>
				Nom:
				{{ partner.lastname }}
			</li>
			<li>
				Prénom:
				{{ partner.firstname }}
			</li>
			<li>
				Adresse:
				{{ partner.address }}
			</li>
			<li>
				Mail:
				{{ partner.email }}
			</li>
			<li>
				Téléphone:
				{{ partner.phone }}
			</li>
			<li>
				Description:
				{{ partner.description }}
			</li>
		</ul>
		<div>
			<a role="button" class="btn btn-xl align-self-center" href="/partners/edit?id={{ partner.id }}">
				<i class="bi bi-pencil-fill"></i>
			</a>
		</div>
		<div>
			<form action="/partners/delete" method="POST">
				<input type="hidden" name="id" value="{{ partner.id }}">
				<button class="btn btn-xl align-self-center" role="button">
					<i class="bi bi-trash3-fill"></i>
				</button>
			</form>
		</div>
	</div>
	<button class="m-3">
		<a href="/partners">Retour</a>
	</button>

{% endblock %}
