<div class="container">
	<div class="row justify-content-center">
		<div class="col-6 divCarousel w-25">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class=" bg-dark" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class=" bg-dark" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					{% for wine in wines %}
						<div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
							<img src="https://media.auchan.fr/P02000000000X2QPRIMARY_512x512/B2CD/%22/%3E" class="card-img-top" alt="...">
							<div class="card-body d-flex flex-column">
								<h3 class="card-title text-center">{{wine.name}}</h3>
								<h4 class="card-subtitle text-center m-1">{{wine.price}}€</h4>
								<h4 class="card-subtitle text-center m-1">Cuvée :
									{{wine.year}}</h4>
								<div class="card-text">{{wine.description}}</div>
								<button class="align-self-center">
									<a href="/wines/show?id={{ wine.id }}">Détails</a>
								</button>
							</div>
							<pre>
                    {{ dump(wine.id) }}
						</pre>
						</div>
					{% endfor %}

				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon btn btn-dark" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon btn btn-dark" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</div></div>
