<div class="container my-5">
	<h2 class="mt-5 mx-auto rounded text-center best-seller bg-white">
		<strong>
			Best-Sellers</strong>
	</h2>
	<div class="row justify-content-center">
		<div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-xs-10 divCarousel border rounded shadow bg-white p-3">


			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
				<div class="carousel-indicators position-sticky">
					{% for wine in wines %}

						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" {% if loop.first %} class="active bg-dark" aria-current="true" {% else %} class=" bg-dark" {% endif %} aria-label="Slide {{loop.index}}"></button>
					{% endfor %}
				</div>
				<div class="carousel-inner ">
					{% for wine in wines %}
						<div {% if loop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
							<div class=" card-image-top bg-light rounded-5 " style="background-image: url({{wine.image}})"></div>
							<div class="card-body d-flex flex-column">
								<h3 class="card-title text-center mt-4 mb-2">
									<strong>{{wine.name}}</strong>
								</h3>
								<h4 class="card-subtitle text-center px-3 my-3">
									<u>Prix :</u>
									{{wine.price}}€</h4>
								<h4 class="card-subtitle text-center px-3 my-3">
									<u>Cuvée :</u>
									{{wine.year}}</h4>

								<button class="align-self-center mb-3 mt-4 mx-5">
									<a href="/catalog">Détails</a>
								</button>
							</div>
						</div>
					{% endfor %}
				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon btn btn-dark" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon btn btn-dark" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

		</div>
	</div>
</div>
