<div class="modal fade" id="modal{{wine.id}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title text-center fs- " id="modalLabel">{{wine.name}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="container modal-body ">
				<div class='row'>
					<div class='col-12 col-lg-6 justify-content-center'>
						<img src=" {{wine.image}}" class=" img_modal img-fluid" alt=" bouteille de vin">
					</div>
					<div class=" text-center text-lg-start col-12 col-lg-6 ">
						<div class="d-flex flex-wrap p-2">
							<span class="color fs-2 rounded m-3 p-2">
								Vin
								{{wine.color}}</span>
							<span class="year fs-2 rounded m-3 p-2">
								{{wine.year}}</span>
							<span class="region fs-2 rounded m-3 p-2">
								{{wine.region}}</span>
							<span class="grape fs-2 rounded m-3 p-2">
								{{wine.grape}}</span>
						</div>
						<div class="description fs-2 p-2">
							{{wine.description}}</div>
						<div class="d-flex justify-content-center">
							<span class="price fs-1 p-2">
								{{wine.price}}€</span>
						</div>
					</div>
				</div>

				<div class="row justify-content-center border-top border-3 pt-3">
					<h2 class="text-center text-decoration-underline fs-1 py-3">Le producteur</h2>
					<div class=' col-12 col-lg-6 text-center'>
						<img src=" {{wine.partner_image}}" class="  img_modal img-fluid " alt=" bouteille de vin">
					</div>
					<div class="text-center mt-3 fs-2">

						{{wine.firstname}}
						{{wine.lastname}}<br>

						{{wine.address}}<br>

						{{wine.email}}<br>
						{{wine.phone}}<br>
						<u>A propos:</u>
						<br>
						{{wine.partner_description}}<br>
					</div>


				</div>

			</div>

			<div class="modal-footer justify-content-between">
				<div class="price fs-2">
					{{wine.price}}€</div>
				<button type="button" class=" button btn-secondary" data-bs-dismiss="modal">Fermer</button>

			</div>
		</div>
	</div>
</div>
