<div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
	<img src="{{wine.image}}" class="card-img-top" alt="Bouteille de vin">
	<div class="card-body d-flex flex-column">
		<h3 class="card-title text-center mt-4 mb-2">
			<strong>{{wine.name}}</strong>
		</h3>
		<h4 class="color_text card-subtitle px-3 my-3">
			{{wine.price}}€</h4>
		<h4 class="color_text card-subtitle px-3 my-3">
			{{wine.year}}</h4>

		<button class="align-self-center mb-3 mt-4 mx-5">
			<a href="wines/show?id={{ wine.id }}">Détails</a>
		</button>
	</div>
</div>
