<div class="card" style="width: 25rem;">
	<img src="https://media.auchan.fr/P02000000000X2QPRIMARY_512x512/B2CD/%22/%3E" class="card-img-top" alt="...">
	<div class="card-body">
		<h3 class="card-title">{{wine.name}}</h3>
		<h4>{{wine.price}}€</h4>
		<h4>Cuvée :
			{{wine.year}}</h4>
		<div class="card-text">{{wine.description}}</div>
		<button>
			<a href="/wines/show?id={{ wine.id }}">Détails</a>
		</button>
	</div>
</div>
