<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-10 border rounded-5 shadow card_catalog p-3  ">
	<div class=" h-100 d-flex flex-column justify-content-between ">
		<img src="{{wine.image}}" class="card-img-top rounded-5" alt="Bouteille de vin">
		<div class="card-body d-flex flex-column justify-content-between ">
			<h3 class="card-title text-center fs-4 my-2 h3_card_catalog">
				<strong>{{wine.name}}</strong>
			</h3>
			<h4 class="card-subtitle text-center px-3 my-2 ">
				<u>Prix:</u>
				{{wine.price}}€</h4>
			<h4 class="card-subtitle text-center px-3 my-2 ">
				<u>Cuvée:</u>
				{{wine.year}}</h4>

			<button class="align-self-center align-item-end my-2  mx-5 p-2">
				<a href="wines/show?id={{ wine.id }}">Détails</a>
			</button>
		</div>
	</div>
