<div class="container d-flex">
	<form method="post" class="row gy-3 justify-content-center my-5">
		<input type="hidden" value="{{ wine.id }}" name="id">
		<div class="col-10 col-xs-8">
			<label for="name">Nom du produit :</label>
			<input type="text" class="form-control" value="{{ wine.name }}" id="name" name="name">
			{% if errors %}
				<div class="errors">{{errors.empty_name}}<br>
					{{errors.name_length}}</div>
			{% endif %}
		</div>
		<div class="col-md-3 col-sm-5 col-xs-8 col-10">
			<label for="year">Année :</label>
			<input type="number" class="form-control" value="{{ wine.year }}" id="year" name="year">
			{% if errors %}
				<div class="errors">{{errors.empty_year}}<br>
					{{errors.year}}</div>
			{% endif %}
		</div>
		<div class="col-md-3 col-sm-5 col-xs-8 col-10">
			<<<<<<<HEAD<labelfor="price">Prix:</label><inputtype="number"class="form-control"value="{{wine.price}}"id="price"name="price">=======<labelfor="Prix">Prix:</label><inputtype="number"step="0.01"class="form-control"value="{{wine.price}}"id="price"name="price">>>>>>>> dev
			{% if errors %}
				<div class="errors">{{errors.empty_price}}<br>
					{{errors.price}}</div>
			{% endif %}
		</div>
		{% if admin %}
			<div class="col-md-4 col-sm-5 col-xs-8 col-10">
				<label for="partner_id">Partenaire :</label>
				<select class="form-control form-select" id="partner_id" name="partner_id">
					<option value="">Sélectionner un partenaire</option>
					{% for partner in partners %}
						<option value="{{partner.id}}">{{partner.lastname ~ ' ' ~ partner.firstname}}</option>
					{% endfor %}
				</select>
				{% if errors %}
					<div class="errors">{{errors.partner}}</div>
				{% endif %}
			</div>
		{% elseif pro %}
			<input type="hidden" value="{{ pro.id }}" name="partner_id">
		{% endif %}
		<div class="col-md-4 col-sm-5 col-xs-8 col-10">
			<label for="region">Région :</label>
			<select class="form-control form-select" id="region" name="region">
				<option value="">Choisir une région</option>
				<option value="Beaujolais">Beaujolais</option>
				<option value="Bordeaux">Bordeaux</option>
				<option value="Vallée du Rhône">Vallée du Rhône</option>
				<option value="Provence-Alpes-Côte-d'Azur">Provence-Alpes-Côte-d'Azur</option>
				<option value="Bourgogne">Bourgogne</option>
				<option value="Languedoc">Languedoc</option>
				<option value="Drôme">Drôme</option>
				<option value="Vallée de la Loire">Vallée de la Loire</option>
				<option value="Sud-Ouest">Sud-Ouest</option>
				<option value="Champagne">Champagne</option>
				<option value="Roussillon">Roussillon</option>
				<option value="Alsace">Alsace</option>
				<option value="Savoie">Savoie</option>
				<option value="Corse">Corse</option>
				<option value="Jura">Jura</option>
			</select>
			{% if errors %}
				<div class="errors">{{errors.empty_region}}</div>
			{% endif %}
		</div>
		<div class="col-md-3 col-sm-5 col-xs-8 col-10">
			<label for="color">Couleur :</label>
			<select class="form-control form-select" id="color" name="color">
				<option value="">Choisir une couleur</option>
				<option value="Rouge">Rouge</option>
				<option value="Blanc">Blanc</option>
				<option value="Rosé">Rosé</option>
			</select>
			{% if errors %}
				<div class="errors">{{errors.empty_color}}</div>
			{% endif %}
		</div>
		<div class="col-md-3 col-sm-5 col-xs-8 col-10">
			<label for="grape">Cépage :</label>
			<select class="form-control form-select" id="grape" name="grape">
				<option value="">Choisir un cépage</option>
				<option value="Areni">Areni</option>
				<option value="Cabernet Sauvignon">Cabernet Sauvignon</option>
				<option value="Carménère">Carménère</option>
				<option value="Cinsault">Cinsault</option>
				<option value="Corvina">Corvina</option>
				<option value="Gamet">Gamet</option>
				<option value="Grenache">Grenache</option>
				<option value="Malbec">Malbec</option>
				<option value="Mencia">Mencia</option>
				<option value="Merlot">Merlot</option>
				<option value="Nero d'Avola">Nero d'Avola</option>
				<option value="Nebbiolo">Nebbiolo</option>
				<option value="Pinot Noir">Pinot Noir</option>
				<option value="Pinotage">Pinotage</option>
				<option value="Syrat">Syrat</option>
				<option value="Tannat">Tannat</option>
				<option value="Sangiovese">Sangiovese</option>
				<option value="Zinfadel">Zinfadel</option>
				<option value="Tempranillo">Tempranillo</option>
				<option value="Chardonnay">Chardonnay</option>
				<option value="Gewürztraminer">Gewürztraminer</option>
				<option value="Grüner Veltliner">Grüner Veltliner</option>
				<option value="Pinot Gris">Pinot Gris</option>
				<option value="Ribola">Ribola</option>
				<option value="Riesling">Riesling</option>
				<option value="Sauvignon Blanc">Sauvignon Blanc</option>
				<option value="Sémillon">Sémillon</option>
				<option value="Torrontes">Torrontes</option>
				<option value="Trebbiano">Trebbiano</option>
				<option value="Verdejo">Verdejo</option>
				<option value="Viogner">Viogner</option>
			</select>
		</div>
		<div {% if admin %} class="col-10 col-xs-8" {% else %} class="col-md-4 col-sm-5 col-xs-8 col-10" {% endif %}>
			<label for="image">Photo du produit :</label>
			<input type="text" class="form-control" placeholder="Entrer l'url vers une image" value="{{ wine.image }}" id="image" name="image">
			{% if errors %}
				<div class="errors">{{errors.empty_image}}<br>
					{{error.url_length}}
				{% endif %}
			</div>

			<div class="col-10 col-xs-8">
				<label for="description">Description :</label>
				<textarea id="description" class="form-control" value="{{ wine.description }}" name="description"></textarea>
				{% if errors %}
					<div class="errors">{{errors.description_length}}</div>
				{% endif %}
			</div>
			<div class="button d-flex justify-content-center align-self-center" id="addbutton">
				<button>Envoyer</button>
			</div>
		</form>
	</div>
