<div class="container d-flex">
	<form method="post" class="row gy-3 justify-content-center my-5">
		<input type="hidden" value="{{ wine.id }}" name="id">
		<div class="col-10">
			<label for="Nom du produit">Nom du produit :</label>
			<input type="text" class="form-control" value="{{ wine.name }}" id="name" name="name">
		</div>
		<div class="col-md-5 col-sm-4 col-xs-8">
			<label for="Année">Année :</label>
			<input type="number" class="form-control" value="{{ wine.year }}" id="year" name="year">
		</div>
		<div class="col-md-5 col-sm-4 col-xs-8">
			<label for="Prix">Prix :</label>
			<input type="number" class="form-control" value="{{ wine.price }}" id="price" name="price">
		</div>
		<div class="col-10">
			<label for="Identifiant partenaire">Identifiant partenaire :</label>
			<input type="text" class="form-control" value="{{ wine.partner_id }}" id="partner_id" name="partner_id">
		</div>

		<div class="col-10">
			<label for="description">Description :</label>
			<textarea id="description" class="form-control" value="{{ wine.description }}" name="description"></textarea>
		</div>
		<div class="button d-flex justify-content-center align-self-center" id="addbutton">
			<button>Envoyer</button>
		</div>
	</form>
</div>
