{% extends "Shared/admin.html.twig" %}

{% block content %}
	<main class="container">
		<div class="row">
			<h1 class="text-center">Liste des super produits !</h1>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>Nom du produit</th>
					<th>Modifier</th>
					<th>Supprimer</th>
					<th>Ajouter favoris</th>
					<th>Supprimer favoris</th>

				</tr>
			</thead>
			<tbody>

				{% for wine in wines %}
					<tr>
						<td>
							<a href="/wines/show?id={{ wine.id }}">{{ wine.name }}</a>
						</td>
						<td>
							<button>
								<a href="/wines/edit?id={{wine.id}}">Modifier</a>
							</button>
						</td>
						<td>
							<form action="/wines/delete" method="POST">
								<input type="hidden" name="id" value="{{ wine.id }}">
								<button>Supprimer</button>
							</form>
						</td>
						<td>
							<form action="/wines/super" method="POST">
								<input type="hidden" name="id" value="{{ wine.id }}">
								<button>Meilleures ventes</button>
							</form>
						</td>
						<td>

							<form action="/wines/nomoresuper" method="POST">
								<input type="hidden" name="id" value="{{ wine.id }}">
								<button>No more super</button>
							</form>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
		<button>
			<a href="/wines/add">Ajouter un produit</a>
		</button>
	</main>

{% endblock %}
