{% extends "Shared/admin.html.twig" %}
{% block content %}

		<h3 class="text-center m-5">
		Fiche produit</h3>
		
		<div class="container d-flex flex-row justify-content-evenly bg-white shadow-lg p-3 mb-5 bg-white rounded">
			<ul class="row">
				<li class="row">
					<div class="col-md-2 fw-bold">Identifiant:</div>
					<div class="col-md-10">
					{{ wine.id }}</div>
				</li>
				<li class="row">
					<div class="col-md-2 fw-bold">Nom du produit:</div>
					<div class="col-md-10">{{ wine.name }}</div>
					</li>
				<li class="row">
					<div class="col-md-2 fw-bold">Année:</div>
					<div class="col-md-10">{{ wine.year }}</div>
					</li>
				<li class="row">
					<div class="col-md-2 fw-bold">Prix:</div>
					<div class="col-md-10">{{ wine.price }}</div>
					</li>
				<li class="row">
					<div class="col-md-2 fw-bold">Catégorie:</div>
					<div class="col-md-10">{{ wine.category }}</div>
					</li>
				<li class="row">
					<div class="col-md-2 fw-bold">Description:</div>
					<div class="col-md-10">{{ wine.description }}</div>
					</li>
				<li class="row">
					<div class="col-md-2 fw-bold">ID fournisseur:</div>
					<div class="col-md-10">{{ wine.partner_id }}</div>
					</li>
			</ul>
				<div>
					<a role="button" class="btn btn-xl align-self-center" href="/wines/edit?id={{wine.id}}"><i class="bi bi-pencil-fill"></i></a>
					<form action="/wines/delete" method="POST">
						<input type="hidden" name="id" value="{{ wine.id }}">
						<button class="btn btn-xl align-self-center" role="button"><i class="bi bi-trash3-fill"></i></button>
					</form>
				</div>			
		</div>
				<button class="m-3">
					<a href="/wines">Retour</a>
				</button>
	</main>
{% endblock %}
