{% extends "Shared/admin.html.twig" %}
{% block content %}
	<main>

		<h3 class="text-center m-5">Fiche produit</h3>

		<div class="container d-flex flex-row justify-content-evenly bg-white">
						<ul>
							<li>ID :
                            {{ wine.id }}</li>
							<li>Nom du produit :
                            {{ wine.name }}</li>
							<li>Année :
                             {{ wine.year }}
                            </li>
							<li>Prix :
                            {{ wine.price }}</li>
							<li>Catégorie :
                            {{ wine.category }}</li>
							<li>Description :
                            {{ wine.category }}</li>
							<li>ID fournisseur :
                            {{ wine.partner_id }}</li>
						</ul>

							<div>
								<a role="button" class="btn btn-xl align-self-center" href="/wines/edit?id={{wine.id}}">Modifier <i class="bi bi-pencil-fill"></i></a>
								<form action="/wines/delete" method="POST">
									<input type="hidden" name="id" value="{{ wine.id }}">
									<button class="btn btn-xl align-self-center" role="button">Supprimer <i class="bi bi-trash3-fill"></i></button>
								</form>
							</div>

		</div>
				<button>
					<a href="/wines">Retour</a>
				</button>
	</main>
{% endblock %}
